body {
    //background-color: #000;
    font-family: objektiv-mk1, sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-size: 16px;
    line-height: 1.75;
    padding: 0;

    a {
        color: #000;
        text-decoration: underline;
        &:hover {
            color: #000;
        }
    }

    strong, b {
        font-weight: 800;
    }

    .footer {
        margin-top: 0;
        //margin-bottom: 3rem;


        .footer-logo {
            text-align: center;
            img {
                max-width: 50px;
                @media (max-width: 575.98px) {
                    max-width: 30px;
                }
            }
        }
        .footer-description {
            @media (max-width: 575.98px) {
                display: none;
            }
            margin-top: 5vh;
            margin-bottom: 5vh;
            .headline {
                font-family: objektiv-mk1, sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                -webkit-font-smoothing: antialiased;
                span {
                    font-style: italic;
                }
                text-align: center;
            }
            .text {
                text-align: center;
                font-size: 20px;
            }
        }
        .footer-links {
            text-align: center;
            font-size: 20px;
            margin-top: 3rem;
            @media (max-width: 575.98px) {
                margin-top: 1rem;
            }
            span {
                padding: 0 20px;
                @media (max-width: 575.98px) {
                    padding: 0 10px;
                }
                a {
                    text-decoration: none;

                    @media (max-width: 575.98px) {
                        font-size: 3.5vw;
                    }
                }
            }
        }
    }

    &#imprint,
    &#privacy {
        .container {
            margin-top: 10rem;
            @media (max-width: 575.98px) {
                margin-top: 4rem;
                word-break: break-word;
            }
        }
        h1 {
            @media (max-width: 575.98px) {
                font-size: 5.5vw;
            }
        }
        h2 {
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media (max-width: 575.98px) {
                font-size: 5vw;
            }
        }
        h3 {
            margin-bottom: 1rem;
            margin-top: 1.5rem;
            font-size: 1.5rem;

            @media (max-width: 575.98px) {
                font-size: 4.5vw;
            }
        }
        @media (max-width: 575.98px) {
            font-size: 4vw;
        }

        .footer {
            margin-top: 100px;
        }
    }

    &#index {
        font-size: 22px;

        @media (max-width: 767.98px) {
            font-size: 18px;
        }

        .content {
            overflow: hidden;

            .inner-content {
                position: relative;
                width: 100vw;
                //min-height: 100vh;
                height: 100vh;

                background: url("../images/header-misfits.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top right;

                @media (max-width: 767.98px) {
                    //background: url("../images/header-misfits-xs.jpg");
                }

                .wrapper {
                    margin-top: 18vh;

                    .logo {
                        max-width: 350px;
                    }
                }


            }
        }

        &.mobile {
            font-size: 5vw;

            .main {
                height: 100vh;
                &.background {
                    background: url("../images/header-misfits.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top center;
                    position: relative;

                    .logo-container {
                        position: absolute;
                        bottom: 17vh;
                    }
                }

                .content {
                    .subline {
                        font-family: objektiv-mk1, sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 14px;
                        -webkit-font-smoothing: antialiased;
                        margin-top: 10vh;
                    }
                    .hashtags {
                        .hashtag {
                            font-weight: 300;
                            font-size: 4vw;

                        }
                    }
                    .contact {
                        margin-top: 5vh;
                        font-size: 4vw;
                    }
                }
            }
            .footer {
                height: 30vh;
                font-size: 3.5vw;
            }

            .mainContent {
                .main {
                    height: 70vh;

                    .subline {
                        font-family: objektiv-mk1, sans-serif;
                        font-weight: 700;
                        font-style: normal;

                        span {
                            font-style: italic;
                        }
                        font-size: 4vw;
                    }
                    .text {
                        font-size: 4vw;
                    }
                }
                .footer {
                    height: 30vh;

                    .footer-links {
                        text-align: center;
                        font-size: 3.5vw;
                    }
                }
            }
        }
    }
}

.whitebg {
    background-color: #fff;
    color: #000 !important;

    a {
        color: #000 !important;
    }

    b {
        font-weight: 700;
    }

    > .row .row {
        margin-top: 150px;
    }

    .footer-links a {
        font-weight: 700;
        text-decoration: none;
    }

    .mobile & {
        font-size: 14px;
    }
}

.instagram {
    //background-color: #000;
    padding: 0 10px;
    margin-top: 100px;

    &.instagram-xs {
        display: none;
    }

    @media (max-width: 767.98px) {
        //padding-top: 100px;
        &.instagram-md {
            display: none;
        }
        &.instagram-xs {
            display: block;
        }
    }
}

.kunden {
    div {
        display: inline;
    }
    img {
        margin-right: 50px;
        height: 122px;
        width: auto;
    }

    @media (max-width: 767.98px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        div {
            width: 50%;
            text-align: center;
            margin-top: -10px;
        }

        img {
            height: 90px;
            margin: 0 20px;
        }
    }
}

.whitebgafter {
    position: relative;

    &:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 150px;
        background-color: #fff;
        z-index: -1;
    }
}

.awardlogos {
    img {
        transform: translateY(0);
        transition: all 1.5s linear;

        &:hover {
            transform: translateY(-25px);
        }
    }

    @media (max-width: 767.98px) {
        display: flex;
        margin-bottom: 25px;

        img {
            height: 100px;
            width: auto;
        }

        .awardlogo-reddot {
            margin-right: 35px;
        }

        .awardlogo-tbsm {
            height: 80px;
        }
    }
}

/*--------- New Scss Code ----------*/

.sm-min-vh-100 {
    @media (max-width: 767.98px) {
        min-height: 100vh;
        height: auto;
        justify-content: flex-end;
        padding-bottom: 100px;
        display: flex;
        align-items: flex-end;
    }
}

.dm-min-vh-100-none {
    height: auto !important;
}

.header-panel {
    height: calc(100vh - 100px);
    min-height: 600px;
    color: #fff;

    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    @media (max-width: 767.98px) {

        min-height: auto;
        .row {
            display: none;
        }
    }

    @media (max-width: 575.98px) {
        height: 600px
    }
}

.logo-bar {
    .logo {
        height: 160px;
        padding: 30px 0;

        @media (max-width: 575.98px) {
            height: 120px;
        }
    }
}

.background-image {
    height: calc(100vh - 100px);
    width: 100%;
    background: url("../images/header-misfits.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #81d8df;
    min-height: 600px;

    @media (max-width: 767.98px) {
        background: url("../images/header-misfits-xs.jpg");
        background-size: cover;
        background-position: bottom center;
        min-height: auto;
    }

    @media (max-width: 575.98px) {
        height: 600px
    }
}

.text-mobile {
    color: #000;
    display: none;

    @media (max-width: 767.98px) {
        display: block;
    }
}

.subline {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    margin-top: 5vh;
    margin-bottom: 20px;

    @media (max-width: 767.98px) {
        font-size: 20px;
    }
}

.hashtags {
    .hashtag {
        font-weight: 300;
    }
}

.contact {
    margin-top: 5vh;

    @media (max-width: 767.98px) {

        a {
            color: #000 !important;
        }
    }
}

#scrollDownWrapper {
    position: absolute;
    bottom: 220px;
    left: calc(50% - 40px);
    z-index: 2;

    @media (max-width: 991.98px) {
        bottom: 130px;
        display: none!important;
    }

    @media (max-width: 575.98px) {
        bottom: auto!important;
        top: 400px!important;
        display: block!important;
    }


    #innerScrollDownWrapper {
        width: 80px;
        margin: 0 auto;
        height: 80px;
        position: relative;

        #logoCircle {
            position: absolute;
            opacity: 0;
            img {
                width: 80px;
                @media (max-width: 575.98px) {
                    filter: invert(100%);
                }
            }
        }
    }

    #wrapper-inner {
        width:100%;
        position: absolute;
        bottom: 0;

        #scroll-down {
            display: block;
            position: relative;
            padding-top: 13px;
            text-align:center;

            .arrow-down {
                display: block;
                margin: 0 auto;
                width: 8px;
                height: 12px;
            }
            .arrow-down:after {
                content: '';
                display: block;
                margin: 0;
                padding: 0;
                width: 8px;
                height: 8px;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                @media (max-width: 767.98px) {
                    border-top: 3px solid #000;
                    border-right: 3px solid #000;
                };
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                transform: rotate(135deg);
            }
        }
    }
}

#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 20px;
    background: #fff;
    @media (max-width: 767.98px) {
        background: #000;
    };
    content: ' ';
}

@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}


#klaro_brandneo_cookie {
    .klaro {
        .cookie-modal {

            .cm-modal {
                background: #fff;
                color: black;
                top: calc(50% - -10px);
                max-height: 100%;
                border-radius: 0px;


                p, li, input {
                    color: black;
                    max-width: 100%;
                }

                .cm-header {
                    @media (min-width: 700px) {
                        padding: 2em 2em 1em 2em ;
                    }

                    border-bottom: 0px solid #fff;

                    h1 {
                        font-family: objektiv-mk1, sans-serif;
                        font-weight: 600;
                        color: #000;
                        margin-bottom: 15px;
                        font-weight: 700;

                        padding-top: 1em;
                        font-size: 1.3rem;

                        @media (min-width: 700px) {
                            margin-bottom: 15px;
                            padding-top: 0;
                        }

                        @media (min-width: 1300px) {
                            margin-bottom: 0;
                        }
                    }
                }

                .cm-body {
                    padding: 1em 2em!important;
                }

                a {
                    color: #000;
                }

                .cm-app-label .slider {
                    color: #fff;
                    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.04);
                }

                .cm-app-input:checked + .cm-app-label .slider {
                    background: #000;
                }

                .cm-footer {
                    padding: 1em 2em!important;

                    border-top: 0px solid #fff;

                    .cm-btn {
                        border: 2px solid #000;
                        background: none;
                        padding: 7px 3px;
                        text-align: center;
                        min-width: 150px;
                        color: #000;
                        cursor: pointer !important;
                        letter-spacing: 0.025rem;
                        outline: none;
                        margin: 15px;
                        display: inline-block;
                        font-family: objektiv-mk1, sans-serif;
                        -webkit-transition: all 1s;
                        -moz-transition: all 1s;
                        transition: all 1s;
                        position: relative;
                        border-radius: 0;

                        &:after {
                            content: '';
                            position: absolute;
                            z-index: -1;
                            -webkit-transition: all 1s;
                            -moz-transition: all 1s;
                            transition: all 1s;
                            width: 0%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background: #000 !important;
                        }

                        &:before {
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            position: relative;
                            -webkit-font-smoothing: antialiased;
                        }

                        &:hover,
                        &:active {
                            color: #fff !important;
                        }

                        &:hover:after,
                        &:active:after {
                            width: 100% !important;
                        }
                    }
                }

                .cm-btn.cm-btn-right {
                    float: left;
                }
            }
        }
    }
}


